.header {
  background-color: #2C323C;
  background-image: url("/assets/images/gang1.jpeg");
  background-blend-mode: soft-light;
  background-position: bottom;
  color: white;
  min-height: 300px;
  padding: 180px 20px; 
  padding-bottom: 140px;
  text-align: center;
}

.header h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 4rem;
}
